footer {
    background-color: #111419;
    padding: 10px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 75px;
        }
        i {
            font-size: 30px;
            color: #fff;
        }
    }
}