header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .bar {
            display: none;
            background: transparent;
            border: none;
            font-size: 25px;
            transition: $tran;
        }
        .header__logo {
            width: 100px;
            height: 50px;
            img {
                width: 150%;
                height: 100%;
                object-fit: cover;
                object-position: center ;
            }
        }
        .bar:hover {
            cursor: pointer;
            color: $maingreen;
        }
        ul {
            list-style: none;
            display: flex;
            gap: 30px;
            li {
                position: relative;
                &::after {
                    content: "";
                    width: 0%;
                    bottom: -6px;
                    left: 0;
                    transition: all ease 0.3s;
                    border-radius: 10px;
                    height: 3px;
                    position: absolute;
                    transition: $tran;
                    background-color: $maingreen;
                }
                a {
                    font-family: Sora;
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 600;
                    transition: $tran;
                }
                a:hover {
                    color: $maingreen;
                }
                &:hover {
                    &::after {
                        content: "";
                        width: 100%;
                        bottom: -6px;
                        left: 0;
                        border-radius: 10px;
                        height: 3px;
                        position: absolute;
                        background-color: $maingreen;
                    }
                }
            }
        }
        .phone {
            font-size: 25px;
            transition: all ease 0.3s;
        }
        .phone:hover {
            color: $maingreen;
        }
    }
}