header {
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .bar {
            display: none;
            background: transparent;
            border: none;
            font-size: 25px;
            transition: $tran;
        }
        .bar:hover {
            cursor: pointer;
            color: $maingreen;
        }
        ul {
            list-style: none;
            display: flex;
            gap: 30px;
            li {
                a {
                    font-family: Sora;
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 600;
                    transition: $tran;
                }
                a:hover {
                    color: $maingreen;
                }
            }
        }
        .phone {
            font-size: 25px;
            transition: all ease 0.3s;
        }
        .phone:hover {
            color: $maingreen;
        }
    }
}