.portfolio {
    background-color: #353a40;
    padding: 80px 0;
    .container {
        h2 {
            @include heading2;
        }
        .line {
            @include line
        }
        .myworks  {
            text-align: left;
            margin: 30px 0;
        }
        h3 {
            @include heading3;
            color: #fff;
        }
        .portfolio__cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 40px;
            margin-bottom: 40px;
            .portfolio__card {
                border-radius: 15px;
                position: relative;
                transition: $tran;
                overflow: hidden;
                img {
                    width: 100%;
                    border-radius: 15px;
                    cursor: pointer;
                    transition: $tran;
                }
                .port {
                    transition: $tran;
                    position: absolute;
                    gap: 10px;
                    width: 100%;
                    display: flex;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    z-index: 2;
                    cursor: pointer;
                    background-color: $maingreen;
                    bottom: 0;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    transform: translateY(100%);
                    .portfolio_link {
                        width: 140px;
                        background-color: #fff;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        gap: 7px;
                        transition: $tran;
                        padding: 10px 0;
                        box-shadow: 2px 2px 10px 3px #4e5358;
                        span {
                            font-size: 17px;
                        }
                        &:hover {
                            background-color: #353a40;
                            color: #fff;
                        }
                    }
                }
            }
            
            .portfolio__card:hover {
                img {
                    filter: blur(2px);
                }
                .port {
                    opacity: 1;
                    transform: translateY(0%);
                }
            }
        }
        .mini_portfolioCards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 40px;
            .portfolio__card {
                border-radius: 15px;
                position: relative;
                transition: $tran;
                overflow: hidden;
                img {
                    width: 100%;
                    border-radius: 15px;
                    height: 100%;
                    cursor: pointer;
                    transition: $tran;
                }
                .port {
                    transition: $tran;
                    position: absolute;
                    gap: 10px;
                    width: 100%;
                    display: flex;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    z-index: 2;
                    cursor: pointer;
                    background-color: $maingreen;
                    bottom: 0;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    transform: translateY(103%);
                    .portfolio_link {
                        width: 60px;
                        height: 30px;
                        background-color: #fff;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 17px;
                        gap: 7px;
                        transition: $tran;
                        padding: 10px 0;
                        box-shadow: 2px 2px 10px 3px #4e5358;
                        span {
                            font-size: 10px;
                        }
                        &:hover {
                            background-color: #353a40;
                            color: #fff;
                        }
                    }
                }
            }
            
            .portfolio__card:hover {
                img {
                    filter: blur(2px);
                }
                .port {
                    opacity: 1;
                    transform: translateY(0%);
                }
            }
        }
        h3 {
            @include heading3;
            text-align: center;
            margin: 40px;
        }
        .awards {
            display: grid;
            gap: 60px;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            .award__content {
                h4 {
                    @include heading3;
                    color: #fff;
                }
                p {
                    @include text4;
                    color: #fff;
                    opacity: 50%;
                }
            }
            .award__img {
                img {
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }
    }
}